**/__pycache__
/engines/*
!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
/venv/*

# Config dosyaları
config.yml
config.bak
.config.yml.*
config.yml.bak
!config.yml.default




