**/__pycache__
/engines/*
!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
/venv/*

# Config dosyası
config.yml

# Config ve yedek dosyalar
config.yml.backup
config.yml.default
*.backup
.config.yml.sw*
.token_temp




