**/__pycache__
/engines/*
!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
/venv/*
# Config dosyası
config.yml
config.bak
.config.yml.sw*
# Config ve backup dosyaları
config.yml.backup
*.backup
# Token ve config dosyaları
.token_temp




